<main>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">¿Quién soy? <span class="text-muted">Julieta Andrea Bogado</span></h2>
        <p class="lead"> Carrera: Analista de sistemas - Curso: 3°2° - Turno Noche</p>
        <h3 class="featurette-heading"> Juego a desarrollar: <span class="text-muted">Aun no lo se</span></h3>
        <p class="lead">........................................</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/yo.png">

      </div>
    </div> 
   
    
</main>
