
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <img src="../assets/socialdiscord.png">
        <a class="navbar-brand" style="color:white ;">Sala de Juegos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/inicio" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/quienSoy" routerLinkActive="active">¿Quien soy?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
   
          </ul>
          <!--select name="juegos">
            <option value="value" selected disabled>Juegos</option>
            <option value="value1"  routerLink="/piedraPapelTijera" routerLinkActive="active" >Piedra-Papel-Tijera</option>
            <option value="value2" routerLink="/tateti" routerLinkActive="active">TA-TE-TI</option>
            <option value="value3" routerLink="/adivinadorNumerico" routerLinkActive="active">Adivinador numérico</option>
            <option value="value4" routerLink="/inicio" routerLinkActive="active">Mayor-Menor</option>
            <option value="value5" routerLink="/inicio" routerLinkActive="active">Ahorcado</option>
            <option value="value6" routerLink="/inicio" routerLinkActive="active">juego inventado</option>
          </select-->
          

        </div>
        
        
      </div>
    </nav>

    <router-outlet></router-outlet>
   
 
  
    <!--footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">hola soy el pie</span>
        
      </div>
    </footer-->
  


   